
.primerlayer {
    background-image: url("../../assets/img/back2.png");
}

.logo {
    background-image: url("../../assets/img/logotestu.png")
}

.textbox {
    font-size: 20px;
    line-height: 25px;
    width: 50%;
    color: purple;

}